!!! 5
%html
  %head
    %title Build Monitor
    %link{:rel=> "stylesheet", :type => "text/css", :href => "/styles/main.css"}
    %meta{:'http-equiv' => "refresh", :content => "20"}
  %body
    = yield
    .audio{:id => 'audio'}
    %script{:src=> "/js/noooooooooooooooooooooooooooo.js", :type=> "text/javascript"}